*.bak
*.d
*.mod
*.o
*.orig
*.pyc
*.svg
.DS_Store
.id
__pycache__
lapackpp-*
build*
config/acml_version
config/blas
config/cblas
config/compiler_cxx
config/cublas
config/essl_version
config/hello
config/lapack_matgen
config/lapack_potrf
config/lapack_pstrf
config/lapack_version
config/lapack_xblas
config/lapacke_potrf
config/lapacke_pstrf
config/log.txt
config/mkl_version
config/onemkl
config/openblas_version
config/openmp
config/return_complex
config/return_complex_argument
config/return_float
config/return_float_f2c
config/rocblas
docs/doxygen/errors.txt
docs/html/
files.txt
include/lapack/defines.h
issues/
lib/*.a
lib/*.so
lib/pkgconfig/*.pc
make.inc
test/tester
wiki/
